@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Permanent+Marker&family=Sixtyfour+Convergence&family=Staatliches&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif; 
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .slider-container {
    position: relative;
    width: 80%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    position: relative;
    text-align: center;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .like-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #ff4757;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .like-btn.liked {
    background-color: #2ed573;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2f3542;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  

  #back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    outline: 1px solid #242424;
    outline-offset: -0.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    transition: all .5s ease-in-out;
}
                
#back-button:hover {
    background-color: #242424;
    color: #f6f6f6;
}